.grid {
  border: 5px solid black;
  height: 600px;
  width: 600px;
  margin: 0 auto;
  padding: 0px;
  font-size: 0px;
  background-color: black;
  box-sizing: content;
}

.cell {
  border: 1px solid black;
  display: inline-block;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.header{
  text-align: center;
  background: #F8F8F8;
  margin-bottom: 20px;
  padding: 15px;
  min-width: 600px;
}

.footer{
  padding: 50px;
  text-align: center;
}

@media (min-width: 768px){
  .col-md-6{
      max-width: none !important;
  }
}

#info{
  margin: 0 12.5%;
}